@import "colors";

.home-disc {
  width: 240px;
  display: inline-block;
  cursor: pointer;

  &__icon {
    height: 240px;
    width: 240px;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 50%;
      transition: all 0.5s cubic-bezier(1, -0.87, 0.09, 1.58);
    }
  }

  &__text {
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    user-select: none;
    transition: all 0.5s ease-in-out;
  }

  &.primary {
    .home-disc__icon {
      background: $primary;
    }

    &:hover {
      .home-disc__text {
        color: $primary;
      }
    }
  }

  &.secondary {
    .home-disc__icon {
      background: $secondary;
    }

    &:hover {
      .home-disc__text {
        color: $secondary;
      }
    }
  }

  &.tertiary {
    .home-disc__icon {
      background: $tertiary;
    }

    &:hover {
      .home-disc__text {
        color: $tertiary;
      }
    }
  }

  &:hover {
    .home-disc__icon img {
      transform: rotate(60deg);
    }
  }
}
