<app-page-container title="Add Album" color="secondary">
  <div class="add-album-container">
    <div class="add-album-container__buttons">
      <a class="add-album-container__buttons__item danger" routerLink="/panel">
        <p>go back</p>
      </a>
      <div
        (click)="onSubmit()"
        [ngClass]="[
          'add-album-container__buttons__item',
          !addAlbumForm.valid ? 'disabled' : '',
          loadingSave ? 'loading' : ''
        ]"
      >
        <p>{{ loadingSave ? "loading..." : "save" }}</p>
      </div>
    </div>

    <form
      [formGroup]="untypedForm"
      (ngSubmit)="onSubmit()"
      class="add-album-container__form"
    >
      <div class="add-album-container__row">
        <app-input-control
          class="form-item"
          inputLabel="title*"
          formControlName="title"
        ></app-input-control>
        <app-input-control
          class="form-item"
          inputLabel="genre"
          placeholder="is it pop?"
          formControlName="genre"
        ></app-input-control>
        <!-- <app-input-control
          class="form-item"
          inputLabel="artist"
          placeholder="XXXX"
          formControlName="artistId"
        ></app-input-control> -->
      </div>
      <div class="add-album-container__row">
        <app-file-upload
          class="form-item"
          formControlName="coverUrl"
          inputLabel="cover"
        ></app-file-upload>
      </div>
      <div class="add-album-container__row single">
        <app-input-control
          class="form-item"
          inputLabel="year"
          placeholder="2020"
          type="number"
          formControlName="year"
          [error]="year?.errors ? 'must be between 1909 & 2030' : ''"
        ></app-input-control>
      </div>
    </form>
  </div>
</app-page-container>
