<app-page-container title="Add Album">
  <div class="add-album-container">
    <form
      [formGroup]="addAlbumForm"
      (ngSubmit)="onSubmit()"
      class="add-album-container__form"
    >
      <div class="form-item">
        <label class="form-item__label" for="name">name*</label>
        <input
          class="form-item__input"
          formControlName="name"
          required
          type="text"
          id="name"
        />
      </div>
      <div class="form-item">
        <label class="form-item__label" for="birthdaten">year*</label>
        <input
          class="form-item__input"
          placeholder="XXXX"
          formControlName="year"
          required
          type="text"
          id="year"
        />
      </div>
      <div class="form-item">
        <label class="form-item__label" for="genre">genre*</label>
        <input
          class="form-item__input"
          placeholder="XXXX"
          formControlName="genre"
          required
          type="text"
          id="genre"
        />
      </div>
      <div class="form-item">
        <label class="form-item__label" for="cover">cover</label>
        <button
          class="form-item__input-file"
          type="button"
          (click)="fileInput.click()"
        >
          <span *ngIf="selectedFile !== ''">{{ selectedFile }}</span>
          <span *ngIf="selectedFile === ''">upload</span>
          <input
            #fileInput
            id="cover"
            type="file"
            formControlName="coverUrl"
            (change)="onFileChange($event)"
            style="display: none"
          />
        </button>
      </div>
    </form>
    <div class="add-album-container__buttons">
      <div class="add-album-container__buttons__item danger">
        <p>go back</p>
      </div>
      <div
        [ngClass]="{
          'add-album-container__buttons__item': true,
          disabled: !addAlbumForm.valid
        }"
      >
        <p>save</p>
      </div>
    </div>
  </div>
</app-page-container>
