@import "colors";

.panel-container {
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__option {
    flex: 1;
    font-weight: bold;
    font-size: 88px;
    line-height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    padding: 48px;

    &__text {
      display: inline-block;
      color: #ffffff;
      transition: all 0.3s ease-in-out;
    }

    &.first {
      background: linear-gradient(
          to bottom,
          rgba(253, 175, 43, 0.3),
          rgba(253, 86, 32, 0.8)
        ),
        center/cover url("/assets/img/artist.jpg");
    }

    &.second {
      background: linear-gradient(
          to bottom,
          rgba(253, 175, 43, 0.3),
          rgba(67, 178, 203, 0.8)
        ),
        center/cover url("/assets/img/album.jpg");
    }

    &:hover {
      .panel-container__option__text {
        color: #000000;
      }
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @media (max-width: 1100px) {
    flex-flow: column;
    position: relative;

    &__option {
      font-size: 58px;
      line-height: 58px;
      text-align: center;

      &:not(:first-child) {
        margin-left: 0;
        margin-top: 20;
      }
    }
  }
}
